.RamenListaItem {
    font-family: "Exo";
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    width: 315px;
    display: flex;
    justify-content: space-around;
  }
  
  @media (max-width: 400px) {
    .RamenListaItem {
      width: 210px;
      height: 180px;
    }
  }
  
  .RamenListaItem > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .RamenListaItem__titulo {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 100%;
  }
  
  .RamenListaItem__descricao {
    font-size: 0.85em;
  }
  
  .RamenListaItem__preco {
    color: rgb(179, 0, 211);
  }
  
  .Acoes {
    display: flex;
    justify-content: space-between;
  }
  
  .Acoes__adicionar,
  .Acoes__remover {
    border: none;
    color: white;
    border-radius: 5px;
    font-family: "Exo", sans-serif;
    padding: 5px;
    max-width: 280px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    width: 48%;
  }
  
  .Acoes__remover {
    background-color: red;
  }
  
  .Acoes__adicionar {
    background-color: rgb(127, 0, 211);
  }
  
  .Acoes__adicionar--preencher {
    width: 100%;
  }
  
  .RamenListaItem__foto {
    height: 150px;
    margin-right: -60px;
  }

  .RamenListaItem {
    cursor: pointer;
  }
  /**************Contador*****************/

  .RamenListaItem__badge {
    background-color: greenyellow;
    width: 60px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    /*position: absolute;*/
    color: black;
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -9px;
    left: -9px;
  }