.RamenListaItem {
    font-family: "Exo";
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    transition: all 0.5s;
  }
  
  @media (max-width: 400px) {
    .RamenListaItem {
      width: 210px;
      height: 180px;
    }
  }

  .RamenListaItem--disable {
    box-shadow: 0px 0px 7px rgba(148, 0, 211);
  }
  
  .RamenListaItem--disable,
  .RamenListaItem--disable .RamenListaItem__preco {
    color: gray;
  }
  
  .RamenListaItem--disable .RamenListaItem__badge {
    display: none;
  }
  
  .RamenListaItem--disable img {
    filter: grayscale(100%);
  }
  
  .RamenListaItem--disable button:disabled {
    background-color: gray;
  }
  
  .RamenListaItem__tag {
    background-color: darkviolet !important;
    color: white !important;
    font-size: 0.6em;
    border-radius: 5px;
    padding: 5px;
    top: -25px;
    left: -45px;
    letter-spacing: 1px;
    height: 15px;
    position:relative;
  }  


  
  .RamenListaItem > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
  
  .RamenListaItem__titulo {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 100%;
  }
  
  .RamenListaItem__descricao {
    font-size: 0.85em;
    width: 100%;
  }
  
  .RamenListaItem__preco {
    color: rgb(179, 0, 211);
  }
  
  .Acoes {
    display: flex;
    justify-content: space-between;
  }
  
  .Acoes__adicionar,
  .Acoes__remover {
    border: none;
    color: white;
    border-radius: 5px;
    font-family: "Exo", sans-serif;
    padding: 5px;
    max-width: 280px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    width: 48%;
  }
  
  .Acoes__remover {
    background-color: red;
  }
  
  .Acoes__adicionar {
    background-color: rgb(127, 0, 211);
  }
  
  .Acoes__adicionar--preencher {
    width: 100%;
  }
  
  .RamenListaItem__foto {
    height: 150px;
    margin-right: -5px;
  }

  .RamenListaItem {
    cursor: pointer;
  }
  /**************Contador*****************/

  .RamenListaItem__badge {
    background-color: greenyellow;
    width: 60px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    /*position: absolute;*/
    color: black;
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -9px;
    left: -9px;
  }